<div class="index-container">
  <navbar-container
    rootClassName="navbar-container-root-class-name"
  ></navbar-container>
  <div class="index-hero">
    <div id="services" class="index-services">
      <div class="index-service-card">
        <div class="index-card-content">
          <h3 class="index-text bigCard-Heading">Despachos de flotilla</h3>
          <span class="index-text1 card-Text">
            Ingresa para comenzar a registrar despachos de flotilla
          </span>
          <submit-button
            rootClassName="submit-button-root-class-name"
          ></submit-button>
        </div>
      </div>
    </div>
  </div>
</div>
