<div class="scan-driver-container">
  <navbar-container
    rootClassName="navbar-container-root-class-name3"
  ></navbar-container>
  <page-title rootClassName="page-title-root-class-name2"></page-title>
  <h1 class="scan-driver-text">
    <span>
      Escáner para QR
      <span [innerHTML]="rawbe2h"></span>
    </span>
    <span>conductor</span>
  </h1>
  <img
    src="https://play.teleporthq.io/static/svg/default-img.svg"
    alt="image"
    class="scan-driver-image"
  />
  <submit-button rootClassName="submit-button-root-class-name2"></submit-button>
</div>
